[Desktop Entry]
Name=Komorebi
Comment=An awesome wallpapers manager
Keywords=wallpaper;settings; preferences;
Icon=/usr/local/share/Komorebi/Resources/Komorebi/komorebi.svg
Exec=/usr/local/bin/komorebi
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;System;
X-GNOME-Autostart-enabled=true
